/*
font-family: 'Roboto', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  background-color: #181818;
  font-family: 'Nunito Sans', sans-serif;
}

header {
  width: calc(100vw - 72px);
  height: 60px;
  position: absolute;
  top: 10px;
  padding: 0px 36px;
  z-index: 1;
}
.headerwrapper {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 1300px;
}

.superuslogo {
  display: inline;
  max-width: 36px;
  max-height: 36px;
}
.logoimg {
  display: inline;
  max-width: 36px;
  max-height: 36px;
  transform: translate(0, 2px);
}
.logoimg:hover {
  opacity: 0.8;
}

.logotitle {
  /* font-family: 'Roboto', sans-serif; */
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 800;
  line-height: 60px;
}

.sectiontext:hover {
  opacity: 0.7;
}
.inlinetext {
  display: inline;
}
.topleft {
  display: flex;
  align-items: center;
  gap: 8px;
}

main {
  height: 100vh;
  position: relative;
  padding: 0px 36px;
}

.maincontentwrapper {
  margin: auto;

  width: calc(100% - 72px);
  max-width: 1300px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 64px;
}
.saaswrapper {
  margin-bottom: 20px;
  margin: auto;
}
.saaslogo img:hover {
  opacity: 1;
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.39);
}
.saaslogo {
  display: inline;
}
.saaslogo img {
  display: inline;
  width: 120px;
  height: 120px;
  border-radius: 8px;
  margin: auto;
  opacity: 0.9;
}
.saastitle {
  display: inline;
  margin-top: 8px;
  text-align: center;
  color: #ffffff;
  font-weight: 800;
}

.headline {
  font-size: 50px;
  color: #15234f;
  font-weight: 1000;
  margin-bottom: 24px;
}

@media only screen and (max-width: 1300px) {
  .headline {
    font-size: calc(100vw * 0.04 - 2px);
    margin-bottom: 24px;
  }
  .superuslogo {
    width: calc(100vw * 0.04 - 16px);
    height: calc(100vw * 0.04 - 16px);
  }
  .logotitle {
    font-size: calc(100vw * 0.02 - 2px);
  }
}

@media only screen and (max-width: 1000px) {
  .headline {
    font-size: calc(100vw * 0.013 + 25px);
    margin-bottom: 16px;
  }
  .superuslogo {
    width: 24px;
    height: 24px;
  }
  .logotitle {
    font-size: 18px;
  }
}

@media only screen and (max-width: 550px) {
  .maincontentwrapper {
    grid-template-columns: 1fr 1fr;
  }

  .headline {
    width: calc(100%);
    font-size: 32px;
  }
  header {
    width: calc(100vw - 36px);
    padding: 0px 18px;
  }
  .maincontentwrapper {
    width: calc(100% - 36px);
  }
}
@media only screen and (max-width: 400px) {
  .maincontentwrapper {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (min-width: 1001px) {
  .gifdemowrappermid {
    display: none;
  }
}

@media only screen and (max-height: 900px) {
  .headline {
    margin-bottom: calc(100vh * 0.08 - 56px);
  }
}
@media only screen and (max-height: 850px) {
  .headline {
    margin-bottom: 12px;
  }
}
@media only screen and (max-height: 800px) {
  main {
    height: 800px;
  }
}
