* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: content-box;
}
:root {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  background-color: #181818;
}

header {
  width: calc(100vw - 72px);
  height: 60px;
  position: absolute;
  top: 10px;
  padding: 0px 36px;
  z-index: 1;
}
.headerwrapper {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 1200px;
}

.superuslogo {
  display: inline;
  max-width: 36px;
  max-height: 36px;
}
.logoimg {
  display: inline;
  max-width: 36px;
  max-height: 36px;
  transform: translate(0, 2px);
}
.logoimg:hover {
  opacity: 0.8;
}

.logotitle {
  /* font-family: 'Roboto', sans-serif; */
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 800;
  line-height: 60px;
}

.sectiontext:hover {
  opacity: 0.7;
}
.inlinetext {
  display: inline;
}
.topleft {
  display: flex;
  align-items: center;
  gap: 8px;
}

main {
  height: 100vh;
  position: relative;
  padding: 0px 36px;
}

.maincontentwrapper {
  margin: auto;

  width: calc(100% - 72px);
  max-width: 1300px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.yearbookcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 16px;
  column-gap: 8px;
}
.introducation {
  margin: auto;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}
.introducation h1 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  margin-bottom: 8px;
  font-family: 'Poppins', sans-serif;

  background: linear-gradient(180deg, #3461fe 19.34%, #9c77ea 73.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.introducation h4 {
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  max-width: 800px;
  margin: auto;
  color: hsl(0, 0%, 100%, 0.8);
}
.saaswrapper {
  margin-bottom: 20px;
  margin: auto;
}
.highlight {
  /* text-decoration: underline; */
  /* font-family: 'Sedgwick Ave', cursive; */
  letter-spacing: 2px;
  background: linear-gradient(180deg, #9676eb 19.34%, #c399f9 73.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding: 0px 4px;
}

.saaslogo {
  display: inline-block;
  box-sizing: content-box;
  padding: 4px;
  border-radius: 8px;
  border: rgb(255, 255, 255, 0) 4px solid;
  transition: all 0.15s ease-in-out;
}
.saaslogo img {
  display: inline;
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin: auto;
  opacity: 1;
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.39);
  box-sizing: content-box;
}
.saaslogo:hover {
  border: #9676eb 4px solid;
  transform: scale(1.02);
}
.saaslogo:active {
  border: #9670fe 4px solid;
}
.saaslogo:active img{
  opacity: 0.9;
}

.saastitle {
  display: inline;
  margin-top: 8px;
  text-align: center;
  color: #ffffff;
  font-weight: 800;
}

.headline {
  font-size: 50px;
  color: #15234f;
  font-weight: 1000;
  margin-bottom: 24px;
}
.footer {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%,0px);
  width: calc(100% - 72px);
  max-width: 1200px;
  text-align: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
}

.poweredby p,
.poweredby a,
.poweredby div,
.poweredby img {
  display: inline;
  color: hsl(0, 0%, 100%, 0.4);
}
.poweredby {
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;
  font-weight: 400;
}
.poweredby div {
  display: inline-flex;
  align-items: center;
  padding: 4px 4px;
  border-radius: 4px;
  margin-left: 8px;
  font-size: 1em;
  transition: all 0.15s ease-in-out;
  font-weight: 800;
}
.poweredby div p {
  color: hsl(0, 0%, 100%, 0.9);
}
.poweredby div:hover {
  background-color: #9676eb;
  color: #fff !important;
}
.poweredby div:hover p {
  color: #fff !important;
}
.poweredby div img {
  height: 32px;
  width: auto;
  margin-right: 8px;
}
.channel {
  display: flex;
  justify-content: end;
}

.channel a {
  margin-left: 16px;
}
.channel img {
  width: 32px;
  height: auto;
  opacity: 0.8;
}

.channel a:hover img {
  opacity: 1;
}
.leftside {
  width: 84px;
}

@media only screen and (max-width: 1300px) {
  .headline {
    font-size: calc(100vw * 0.04 - 2px);
    margin-bottom: 24px;
  }
  .superuslogo {
    width: calc(100vw * 0.04 - 16px);
    height: calc(100vw * 0.04 - 16px);
  }
  .logotitle {
    font-size: calc(100vw * 0.02 - 2px);
  }
  :root {
    font-size: 14px;
  }
}

@media only screen and (max-width: 800px) {
  .yearbookcontainer {
    grid-template-columns: repeat(2, 1fr);
  }
  :root {
    font-size: 13px;
  }
}

@media only screen and (max-width: 550px) {
  .introducation h1{
    font-size: 4rem;
  }
  .maincontentwrapper {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    top: 0px;
    left: 0px;
    transform: none;
  }
  :root {
    font-size: 10px;
  }
  main {
    padding: 60px 0px;
    position: relative;
    height:auto;
  }

  .yearbookcontainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 8px;
    margin-bottom: 40px;
  }
  .leftside{display: none;}
  .footer {
    position: relative;
    bottom: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
    text-align: center;
    align-items: center;
  }

  .headline {
    width: calc(100%);
    font-size: 32px;
  }
  header {
    width: calc(100vw - 36px);
    padding: 0px 18px;
  }
  .maincontentwrapper {
    width: calc(100% - 36px);
  }
}
@media only screen and (max-height: 950px) and (max-width: 800px) {
  main {
    height: 950px;
  }
}
@media only screen and (max-height: 900px) and (min-width: 550px) {
  main {
    height: 900px;
  }
}
